{% extends "layout.html" %}

{% block title %} 
    Home Page
{% endblock %}

{% block main %}

    <header class="masthead body-custom text-white text-center">
        <div class="container d-flex align-items-center flex-column page-section3">
            <!-- <img src="static/dead_polar_bear.png" alt="Dead Polar Bear Clipart" />             -->
            <img src="static/wave.png" alt="Waving Polar Bear Clipart" />            

            <!--Heading-->
            <h1 class="masthead-heading mb-0"><b>Welcome to POLLAREZ</b></h1>
            
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <p class="description-paragraph">Pollarez is a free online website for all to access and roam around in. Known as the ultimate school slack off tool, Pollarez provides many different functions, varying from games, to beautiful scenery, to panic buttons!</p>
            <p><i>Tread carefully though; we don't want the website to be taken down because you got caught!</i></p>
    </header>

    <section class="page-section body-custom2 mb-0">
        <div class="container d-flex align-items-center flex-column">
            <h1><b>Our Mission</b></h1>

            <!-- Icon Divider-->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            </div>

            <div class="col-6 description-paragraph2 text-center column">
                <p>We understand that school can feel like a drag. We understand how the time seems to stand still when you're listening to your teacher blab on constantly without break. We get it.</p>
                <p>For all students who wished they were anywhere except in the classroom, or simply know the content already; Pollarez helps quench the feeling of boredom in anyone!</p>
                <p>We also have some additional perks, such as a Study Zone (for people who actually want to learn) and a PANIC Button for those who have had enough!</p>
            </div>
            
            <div>
                <img id="sleep" src="static/sleeping_bear.png" alt="Sleeping Polar Bear Clipart" />            
            </div>
            
            <div>
                <footer class="by-line small text-muted"><i>Website Developed by Ezzhingy</i></footer>
            </div>
        </div>
    </section>
    
{% endblock %} 